.Navigation {
  padding-top: 15px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.Navbar {
  background-color: #020024;
  box-shadow: 0 0 15px #020024;
}

@media only screen and (min-width : 576px) {
  .Navbar {
    border-radius: 10px;
  }
}