.App {
  text-align: center;
  color: #79a0ce;
}

.App-navbar {
  background-color: #020024;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgba(2,0,36,1) 5%, rgba(28,133,255,1) 100%);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1c85ff;
}
